<manifest package="kr.LaruYan.StrongEggManager"
    android:versionCode="26"
    android:versionName="1.31" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".StrongEggManagerApp"
        android:description="@string/app_desc"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan" ><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".StrongEggManagerService"
            android:exported="false"
            android:label="@string/app_service_name" >
        </service>

        <receiver
            android:name=".WifiStateReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!-- <action android:name="android.net.wifi.STATE_CHANGE"/> -->
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
                <!-- <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/> -->
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ScreenStateReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>